.category-card {
  transition: all 0.3s ease-in-out;
}

.caregory-overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}

.category-card:hover .caregory-overlay {
  display: flex;
}

.img {
  transition: all 0.3s ease-in-out;
}

.category-card:hover .img {
  transform: scale(1.2);
}